<!-- <label>
    Employee Name:
    <input type="text" [formControl]="EmployeeName">
</label>

<p>Value: {{EmployeeName.value}}</p>
<button (click)="updateEmployeeName()">Refresh</button> -->

<form [formGroup]= "employeeForm">

    <h2>Employee Name</h2>
    <label>
        Name:
        <input type="text" formControlName="Name">
    </label>
    &nbsp;
    <label>
        Designation:
        <input type="text" formControlName="Designation">
    </label>
    <br>

    <h2>Employee Addresses</h2>    
    <label>
        Country:
        <input type="text" formControlName="Country">
    </label>
    &nbsp;
    <label>
        Address:
        <input type="text" formControlName="Address">
    </label>
</form>

<form [formGroup]="employeeForm" (ngSubmit)="onSubmit()"></form>

<button type="submit">Submit</button>